
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/** cards and grid */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1, .col-3 {
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .col-1 {
        flex: 1;
    }
    
    .col-3 {
        flex: 3;
    }
}

.card {
    min-height: 300px;
    border: solid 1px #ddd;
    padding: 1rem;
    cursor: pointer;
}

.actions {
    display: none;
}

.card:hover {
    background-color: #eee;
}

.card:hover .actions {
    display: block;
}

.card img {
    width: 100px;
    display: block;
    margin: auto;
}


/** fonts and buttons */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.price, .payment-conditions {
    font-weight: 700;
}

.actions {
    text-align: center;
    margin: 1em 0;
}

.btn {
    background-color: white;
    border: solid 1px #ddd;
    line-height: 1.5;
    padding: .5em;
}

.btn:hover {
    border-left: solid 3px orange;
    cursor: pointer;
}

.btn:hover i {
    color: orange;
}

.actions {
    display: none;
}

/** carousel pagination */

ul.pagination {
    margin: .5em;
    padding: 0;
    text-align: center;
}

ul.pagination li {
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #000;
}

ul.pagination li.active {
    background-color: #000;
}